/* DataFetcher.module.css */

.dataFetcherContainer {
  margin: 20px;
}

.form {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #add8e6;
  border-radius: 5px;
  background-color: #f0f8ff;
  resize: vertical; /* Allow vertical resizing if desired */
  min-height: 200px; /* Adjust the minimum height as needed */
}

.input:focus {
  outline: none;
  border-color: #6495ed;
  background-color: #e6f2ff;
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  width: 200px; /* Fixed width for consistency */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  background-color: #add8e6;
  color: black;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #6495ed;
}

.resetButton {
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  background-color: #f0f0f0;
  color: black;
}

.resetButton:hover {
  background-color: #e0e0e0;
}

.exportButton {
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  background-color: #ffa500; /* Orange */
  color: black;
}

.exportButton:hover {
  background-color: #ff8c00; /* Darker orange */
}

.exportButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.visualiseGraphButton{
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  background-color: #e794be; /* Pink */
  color: black;
}

.visualiseGraphButton:hover {
  background-color: #e56f9f; /* Darker pink */
}

.presetContainer {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center; /* Center the buttons horizontally */
}

.presetButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  background-color: #90ee90;
  color: black;
}

.presetButton:hover {
  background-color: #32cd32;
}


.errorMessage {
  color: red;
  font-weight: bold;
}

.selectedDb {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
}
